:root{
    --dark-mode: #1B1B1B;
    --dark-mode2: #393939;
    --orange1: #DB7900;
    --orange2: #9C6727;
    --blue1: #0094DB;
    --blue2: #2D6986;
    --blue-dark: #222D33;
}
html,body{
    background-color: var(--dark-mode);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2, p{
    padding: 5px;
}
h1{
    color: var(--orange1);
}
h2{
    color: var(--blue1);
}
h3.blue{
    color: var(--blue2);
}
h3{
    color: var(--orange2);
}
header{
    background-color: var(--dark-mode2);
    display: flex;
    justify-content: space-between;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 47px;
}
.menu {
    font-family: 'Material Symbols Outlined';
    font-size: 38px !important; /* Pode ser maior que 36px se quiser */
    color: white;/* Garante que a cor fique visível */
    cursor: pointer;
}
section{
    padding: 5px;
}
section > p{
    margin: auto;
    width: 88%;
}
section#introducao{
    
}
div#linguagens{
    display: flex;
    justify-content: space-evenly;
}
div#linguagens > div.items{
    border: solid 1px var(--orange1);
    flex: 0 0 56px;
}
div.items > img{
    width: 80%;
    margin: 5px auto 0 auto;
}
div.items > span{
    display: block;
    text-align: center;
    font-weight: bold;
    color: var(--blue2);
}
section#portifolio{
    display: flex;
    flex-flow: column nowrap;
    padding: 0 3%;
}
div#projetos{
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid var(--orange1);
    border-left: none;
}
div#projetos > div.content{
    
}
footer{
    background-color: var(--dark-mode2);
    display: flex;
    justify-content: space-between;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}